body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
h1 {
    margin-left: 60px;
    font-size: 24px;
}

a {
    color: #E5E7EB;
    text-decoration: none;
}
ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 16px
}

button {
    background-color: #3882F6;
    color: white;

}

.top,
.footer {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    color: #F9FAF8;
 
}

.link {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 20px;
    padding: 16px;
}
.two{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
    color: #F9FAF8;
    height: 250px;
    margin-bottom: 10px;
    padding-right: 30px;
}
.hero {
    display: inline-block;
    padding-left: 10px;
   
}
.hero-main{
    font-size: 48px;
    font-weight: bolder;
    margin-bottom: -20px;
    
}

.box {
    box-sizing: border-box;
    height: 150px;
    width: 800px;
    padding: 30px;
    margin: 30px;
    background-color:gray;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.random {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    color: #1F2937;
}

.subtext {
    font-size: 18px;
    font-weight: 100;
}

.action {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #3882F6;
    color: white;
    width:600px;
    height:auto;
    margin: 40px
}
.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    font-size: 36px;
    padding: 40px;

}

.author {
    font-size: 18px;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}

.bot-button {
 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.footer{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}